.mainHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    height: 12%;
    width: 100%;
    background-color: white;
    color: white;
    font-size: 200%;
    text-align: center;
    border: 2px black solid;
}
.logoImage {
    position: inherit;
    height: 50%;
}
.buttonContainer{
    width: 100%;
    display: flex;
}